{% extends 'base.html'%}


{% block title %} {{carsList.name}} {% endblock %}

{% block mainContent %}
    <div class="car_card">


        <div class="card_info">
            <div class="card_img_index">
                <img src="/static/image/products/{{ carsList.img }}/index.png" alt="{{ carsList.name }}">
            </div>

            <div class="info_car">
                <h2>{{ carsList.name }}</h2>
                <h4>Брэнд: {{ carsList.brand }}</h4>
                <p>{{ carsList.price }} рублей</p>
            </div>
        </div>


        
        <div class="car_text">

            <div class="description_car">
                <p>{{ carsList.description }}</p>
            </div>
        </div>
                    
        <div class="dop_img">

            <img src="/static/image/products/{{ carsList.img }}/salon.png" alt=" салон {{ carsList.name }}">
            <img src="/static/image/products/{{ carsList.img }}/trunk.png" alt=" Багажник {{ carsList.name }}">


        </div>



    </div>
{% endblock %}