@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --background-color: #686868;
    --text-color: #D8A859;
    --popup-background-color: #4F4F4F;
    --add-button-color: #05FB00;
    --remove-button-color: #FF0000;
    --input-bg-color: #888888;
    --dropdown-bg-color: #686868;

    --table-top-col-bg-color: #404040;
    --table-col-bg-color: #373737;
    --table-col-border: #5B5B5B;

}
* { font-family: "Open Sans", sans-serif; }


.footer{
   flex: 0 0 auto;


}




body{
    background: rgb(104, 104, 104);
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
}



header {
    width: 100%;
    display: flex;
    justify-content: center;

}


.header-continer{
    width: 1152px;
    height: auto;
    margin: 20px;
    display: flex;
    justify-content: space-between; /* Распределяет элементы по краям */
    align-items: center; /* Центрирует элементы по вертикали */

}

.right-header {
    display: flex;
    align-items: center; /* Центрирует элементы по вертикали */
}

.left-header {
    display: flex;
    align-items: center; /* Центрирует элементы по вертикали */
}



.logo {
    width: 165.99px;
    height: 44.27px;
}

/* ПРОРАБОТАТЬ ОТСУПЫ В ШАПКЕ И ДИВЫ */
.admin-header{
    margin-right: 66px; 
}
.header-catalog {
    margin-left: 66px; /* Добавляем отступ между логотипом и ссылкой "Каталог" */
}
.admin-header a,
.header-catalog a {
    color: rgb(216, 168, 89);
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
}



.header-login a {
    color: rgb(216, 168, 89);
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
}


.footer-container{
    width:800px;
    margin-top: 98px ;
    margin-bottom: 2px;

    display: flex;
    justify-content: space-between; 
}
.foot a{
    color: rgb(216, 168, 89);
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}

/* СТРАНИЦА индекс и шаблон */
.index-content{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.index-body{

    width: 1132px;
    

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.index-text-container{
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.index-text{

    width: 78%;
    height: auto;

}

.index-text h6{
    color: rgb(216, 168, 89);
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0%;
  
}



.cards-index{
    margin-top: 55px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}

.card-index a{
    width: 100%;
    height: 100%;
}


.card-index{
    height: 300px;
    width: 250px;
    background: rgba(217, 217, 217, 0.13);
    /* opacity: 0.5; */
    margin-bottom: 20px;


}




.card-text-index{
    color: rgb(216, 168, 89);
    font-family: Open Sans;
    font-size: 16px;
    text-align: center;
}

.card-img-index img{
    height: 180px;
    width: 100%;

}



/* СТРАНИЦА ОДНОЙ МАШИНЫ  */



.carousel img,
.carousel-inner,
.carousel{
    width: 835px;
    height: 416px;
}


.img-info-car{
    width: 100%;
    display: flex;

    align-items: center;

    margin-bottom: 45px;
}



.info-car{

    margin-left: 90px;
    color: rgb(216, 168, 89);


}

.container-info-car{
    font-size: 24px;
    font-family: Open Sans;
}


.description-car{
    width: 100%;
    color: rgb(216, 168, 89);
    font-family: Open Sans;
    font-size: 24px;
}

/* Алл продуктс */

.cards-index-all{
    margin-top: 55px;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px; /* расстояние между элементами */
    align-items: center;

}


.all-content{
    width: 100%;
    display: flex;
    justify-content: center;

    
}

.card-brand a{

    color: rgb(216, 168, 89);
    font-family: Open Sans;
    font-size: 24px;


}

.all-brands{
    margin-top: 55px;
    width: auto !important;
    height:  500px;
    display: flex;

    margin-right: 20px;
    flex-direction: column;

    justify-content:space-evenly;



   
}


.drop-sort{
    background-color:  rgba(217, 217, 217, 0.13);
}

.dropdown-menu {

    background: rgba(104, 104, 104, 0.747);


    
}

.all-sort-car-drop{
    background: rgb(104, 104, 104);
    color: rgb(216, 168, 89);
    font-family: Open Sans;
    font-size: 16px;
    width: 200px;
    margin-bottom: 10px;


}




/* СТРАНИЦА профиля.  */

.profile{
    width: 100%;
    height:  auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}

.avatar{
    width: 250px;
    height: 300px;
    border-radius: 30px;
    background: rgb(217, 217, 217);
    opacity: 0.5;
}

.info-profile{
    width: 636px;
    height: auto;
    display: flex;

    justify-content: center;

    color: rgb(216, 168, 89);
    font-family: Open Sans;
    font-size: 24px;
}


/* АДМИН СТРАНИЦА */

.table-zone {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 665px;
}

.car_table-container {
    width: 650px;
    margin-top: 50px;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.brand_table-container {
    width: 320;
    margin-top: 50px;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.table-name {
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
    color: var(--text-color);
    margin-bottom: 20px;
}

.table-columns {
    display: flex;
    background-color: var(--table-col-bg-color);
}

.top-table {
    background-color: var(--table-top-col-bg-color);
}

.columns {
    width: 130px;
    height: 36px;
    padding: 5px;
    text-align: center;
    color: var(--text-color);
    border: .5px solid var(--table-col-border);
}

.top-info {
    color: white
}

.remove-car, .remove-car:hover, .remove-car:focus{
    color: var(--remove-button-color);
    background-color: transparent;
    border: none;
}

.add_car, .add_car:hover, .add_car:focus{
    color: var(--add-button-color);
    background-color: transparent;
    border: none;
}

.description-col {
    width: 160px;
}

.car-popup-main-info {
    display: flex;
    justify-content: space-between;
}

.popup_car_date {
    width: 250px;
}



.description-input {
    height: 300px;
}

.brand-name {
    width: 250px;
}



/* popup */

.popup-content {
    background-color: var(--popup-background-color);
}

.form_text, .reg_popup_label, .add_car_popup_label, .add_brand_popup_label {
    color: var(--text-color)
}

.modal-header {
    border-bottom: solid var(--background-color);
}

.modal-footer {
    border-top: solid var(--background-color);
}

.form-control {
    color: var(--text-color);
    background-color: var(--input-bg-color);
    border: 0;
    border-radius: 30px;
}

.form-control:focus {
    color: var(--text-color);
    background-color: var(--input-bg-color);
    border: 0;
    outline: 0;
    box-shadow: none;
}

.reg, .reg:hover, .reg:focus {
    color: var(--text-color);
    background-color: transparent;
    border: none;
}

.btn_close, .btn_close:hover, .btn_close:focus{
    color: var(--remove-button-color);
    background-color: transparent;
    border: none;
}

.btn_add, .btn_add:hover, .btn_add:focus{
    color: var(--add-button-color);
    background-color: transparent;
    border: none;
}

.reg-box {
    width: 170px;
    height: 125px;
    padding-top: 20px;
    padding-left: 25px;
    background-color: var(--dropdown-bg-color);
}

.reg-item:not(:last-child) {
    margin-bottom: 10px;
}

.profile, .exit {
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    color: var(--text-color)
}



.dropdown-profile{
    color: rgb(216, 168, 89);
    font-family: Open Sans;
    font-size: 24px;

    background-color: #ff000000;
    border: 0;
}

.dropdown-profile-item{
    color: rgb(216, 168, 89);
    font-family: Open Sans;
    font-size: 24px;


    
}

.dropdown-profile-item:not(:last-child){
    margin-bottom: 30px;
}

.dropdown-menu-profile {
    padding-left: 20px;
}


.basket{

        margin-top: 55px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    



}