{% extends 'base.html'%}


{% block title %}Добавление машин {% endblock %}



{% block mainContent %}
    <div class="add">
        <div class="addCar">
            <h4>Добавить автомобиль</h4>

            <form action="" class="form" method="post" enctype="multipart/form-data">

                {{formCar.hidden_tag()}}

                <div class="nameCar">
                    <div>{{formCar.name.label()}}</div>
                    <div>{{formCar.name()}}</div>
                </div>

                <div class="priceCar">
                    <div>{{formCar.price.label()}}</div>
                    <div>{{formCar.price()}}</div>
                </div>

                <div class="descriptionCar">
                    <div>{{formCar.descriptionCar.label()}}</div>
                    <div>{{formCar.descriptionCar()}}</div>  
                </div>

                <div class="brandCar">
                    <div>{{formCar.brandCar.label()}}</div>
                    <div>{{formCar.brandCar()}}</div>
                </div>

                <div class="imageCar">
                    <div>{{formCar.images.label()}}</div>
                    <div>{{formCar.images()}}</div>
                </div>

                <div class="btn"><button type="submit" name="submit_car">Добавить</button></div>

            </form>
        </div>

        <div class="addBrand">
            <h4>Добавить брэнд</h4>

            <form action="" class="form" method="post">

                {{formBrand.hidden_tag()}}

                <div class="Brand">
                    <div>{{formBrand.brand.label()}} </div>
                    <div>{{formBrand.brand()}} </div> 
                </div>

                <div class="descriptionBrand"> 
                    <div>{{formBrand.descriptionBrand.label()}} </div>
                    <div>{{formBrand.descriptionBrand()}}  </div>
                </div>

                <div class="btn"><button type="submit" name="submit_brand">Добавить</button></div>

            </form>
        </div>
    </div>


    <div class="deleteCar">

        {% for car in allCars %}
        
            <div class="strokeCar">
                
                <div class="Deletename" >
                    <p>{{car.name}}</p>
                </div>

                <div class="DeleteBrandCar">
                    <p>{{car.brand}}</p>
                </div>



                <form action="" method="post">
                    <input type="hidden" name="car_id" value="{{ car.id }}">
                    <div class="btn" ><button type="submit" name="delete_car">Удалить</button></div>
                </form>

            </div>

        {% endfor %}

    </div>
{% endblock %}