{% extends 'base.html'%}


{% block title %} Весь ассортимент {% endblock %}

{% block mainContent %}

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle colordrop" type="button" data-bs-toggle="dropdown"  aria-expanded="false">
            Сортировка
          </button>
        <ul class="dropdown-menu">
            <form method="GET" action="/allProducts/">
                <button type="submit" name="sort_by" value="price_asc">По возростанию цены</button>
                <button type="submit" name="sort_by" value="price_desc">По убыванию цены</button>
                <button type="submit" name="sort_by" value="name_asc">По названию (A-Я)</button>
            </form>
        </ul>
    </div>

 


    <div class="cards_index">

        {% for item in carsList%}

        <div class="cars_card_index">
            <a href="/car/{{item.name}}">
                <div class="card_img_index">
                    <img src="/static/image/products/{{ item.img }}/index.png" alt="{{ item.name }}">
                </div>

                <div class="card_text_index">
                    <h3>{{ item.name }}</h3>
                    <h4>Брэнд: {{ item.brand }}</h4>
                    <p>{{ item.price }} рублей</p>
                    
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}