{% extends 'base.html'%}


{% block title %} {{brand.brand}} {% endblock %}

{% block mainContent %}


        <div class="index-text-container">
            <div class="index-text"><h6>{{brand.description}}</h6></div>
        </div>


        <div class="cards-index">

                {% for item in carsList%}
                    <div class="card-index" >
                        <a href="/car/{{item.name}}">

                            <div class="card-img-index">
                                <img src="/static/image/products/{{ item.img }}/index.png" alt="{{ item.name }}">
                            </div>
            
                            <div class="card-text-index">
                                <p>{{ item.name }}<br>
                                Брэнд: {{ item.brand }}<br>
                                {{ item.price }} рублей</p>
                                
                            </div>
                        </a>
                    </div>

                {% endfor %}

        </div>

{% endblock %}