{% extends 'base.html'%}


{% block title %} {{carsList.name}} {% endblock %}

{% block mainContent %}

    <div class="img-info-car">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/image/products/{{ carsList.img }}/index.png" alt="{{ carsList.name }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/static/image/products/{{ carsList.img }}/salon.png" alt=" салон {{ carsList.name }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/static/image/products/{{ carsList.img }}/trunk.png" alt=" Багажник {{ carsList.name }}" class="d-block w-100" alt="...">
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>



        <div class="info-car">
            <div class="container-info-car" >
                <p>{{ carsList.name }} <br />
                Брэнд: {{ carsList.brand }}<br />
                {{ carsList.price }} рублей</p>
            </div>
        </div>
    </div>

      <div class="description-car">
        <div class="container-description-car" >
            <p>{{ carsList.description }}</p>
        </div>
      </div>


      <form action="" class="form" method="post">

        <div class="btn"><button type="submit" class="btn_add" name="add_basket">Добавить в корзину</button></div>


      </form>
    

{% endblock %}