{% extends 'base.html'%}


{% block title %} Главная {% endblock %}

{% block mainContent %}



            <div class="index-text-container">
                <div class="index-text"><h6>"Автоэкспресс" — ваш надёжный партнёр в мире автомобилей. Мы специализируемся на продаже качественных подержанных и новых автомобилей различных марок. Наша команда экспертов готова предложить широкий выбор автомобилей, от экономичных городских моделей до премиальных внедорожников. Мы ценим ваше время, поэтому предлагаем быстрый и прозрачный процесс покупки с полным спектром услуг: от финансирования до оформления всех необходимых документов. "Автоэкспресс" — ваш путь к идеальному автомобилю без лишних хлопот.</h6></div>
            </div>

            

            <div class="cards-index">

                    {% for item in carsList%}
                        <div class="card-index" >
                            <a href="/car/{{item.name}}">

                                <div class="card-img-index">
                                    <img src="/static/image/products/{{ item.folder_name}}/index.jpg" alt="{{ item.name }}">
                                </div>
                
                                <div class="card-text-index">
                                    <p>{{ item.name }}<br>
                                    Брэнд: {{ item.brand }}<br>
                                    {{ item.price }} рублей</p>
                                    
                                </div>
                            </a>
                        </div>

                    {% endfor %}

            </div>




{% endblock %}