{% extends 'base.html'%}


{% block title %}Авторизация{% endblock %}



{% block mainContent %}

    <div class="aunt">

        <form action="" class="form" method="post">

            {{form.hidden_tag()}}

            <div class="login">

                <div>{{form.login.label()}} </div>
                <div>{{form.login()}}</div>

            </div>

            <div class="password">
                <div>{{form.password.label()}}</div>
                <div>{{form.password()}}</div>
            </div>

            <div class="btn"> {{form.sub()}} </div>

        </form>
    </div>
{% endblock %}