{% extends 'base.html'%}

{% block title %} Профиль {% endblock %}

{% block mainContent %}

    <div class="profile">
        <div class="avatar_section">
            <div class="avatar">
                <img src="{{ url_for('userava') }}" alt="User Avatar">
            </div>

            <div class="update_avatar">
                <form action="" method="post" enctype="multipart/form-data" id="avatar-form">
                    <label class="input_avatar">
                        Загрузить аватарку
                        <input type="file" name="file" style="display:none;" onchange="submitForm(this)">
                    </label>
                </form>
            </div>
        </div>

        <script>
            function submitForm(input) {
                if (input.files[0]) {
                    document.getElementById('avatar-form').submit();
                }
            }
        </script>

        <div class="info-profile">
            <p>{{ user[1] }}</p>
        </div>
    </div>

{% endblock %}